
div .viewform{
    font-size: 30px;
    position: absolute;
    top: 50%;
    left: 50%;
    margin-top: 20px;
    margin-right: -50%;
    transform: translate(-50%, -50%);
    padding: 14px 25px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    z-index: -1;
}

div .crewform{
    font-size: 30px;
    position: absolute;
    top: 50%;
    left: 50%;
    margin-top: 20px;
    margin-right: -50%;
    transform: translate(-50%, -50%);
    padding: 14px 25px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    z-index: -1;
}

div .mytext {
    text-align: center;
    border: 3px solid green;
  }

input{
    padding: 10px 15px;
    border-radius: 8px;
    background-color: whitesmoke;
    color:black;
}

form {
    display: block;
    font-family: Arial, Helvetica, sans-serif;
    position: absolute;
    top: 50%;
    left: 50%;
    margin-right: -50%;
    transform: translate(-50%, -50%);
    padding: 14px 25px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
}

form:after{
    content:'';
    display: block;
    position: absolute;
    top: -5px;
    left: -5px;
    right: -5px;
    bottom: -5px;
    z-index: -1;
    background-image: linear-gradient(to buttom right, #FFCE00, #FE4880);
}

form .form-inner {
    font-family: Arial, Helvetica, sans-serif;
    font-size: 40px;
    position: relative;
    display: block;
    background-color: #FFF;
    padding: 30px;
    z-index: 2;
}

form .form-inner h2 {
    color: black;
    font-size: 28px;
    font-weight:500;
    margin-bottom: 30px;
}

form .form-inner .form-group{
    display:block;
    width: 300px;
    margin-bottom:15px;
}

.form-inner, .form-group label{
    display: block;
    color: #666;
    font-size: 12px;
    margin-bottom: 5px;
    transition: 0.4px;
}

.form-inner .form-group:focus-within label {
    color: indigo
}

form .form-inner .form-group input{
    display:block;
    width: 100%;
    padding: 10px 15px;
    background-color: #F8F8F8 ;
    border-radius: 8px;
    transition: 0.4s;
}

form .form-inner .form-group input:focus{
    box-shadow: 0px 0px 3px rgba(red, green, blue, alpha) 
}

form .form-inner input[type="submit"]{
    display: inline-block;
    padding: 10px 15px;
    border-radius: 8px;
    background-image: linear-gradient(to right, #FFCE00 50%, #FFCE00 50%, #FE4880);
    background-size: 200%;
    background-position: 0%;
    transition: 0.4s;
    color: #FFF;
    font-weight: 700;
}


input{
    padding: 10px 15px;
    border-radius: 8px;
    background-color: #F8F8F8;
    color:white;
}

button{
    padding: 10px 15px;
    margin-top: 10px;
    border:none;
    border-radius: 8px;
    background-color: burlywood;
    color:black;
}

div .search-container{
    margin-top: 25px;
    margin-bottom: 10px;
    
}

